<mat-sidenav-container fullscreen>
  <!--For Mobile Menu--->


    <!--Sidenav--->

  <mat-sidenav #sidenav>
    <mat-nav-list>


      <a mat-list-item routerLink="courses">
        <mat-icon>library_books</mat-icon>
        <span>Courses</span>
      </a>


      <a mat-list-item routerLink="about">
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>


      <a mat-list-item routerLink="drag-drop-example">
        <mat-icon>drag_indicator</mat-icon>
        <span>Drag and Drop</span>
      </a>


      <a mat-list-item routerLink="tree-demo">
        <mat-icon>park</mat-icon>
        <span>Tree Demo</span>
      </a>



      <a mat-list-item routerLink="virtual-scrolling">
        <mat-icon>import_export</mat-icon>
        <span>Virtual Scrolling</span>
      </a>


      <a mat-list-item routerLink="register">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </a>

      <a mat-list-item routerLink="login">
        <mat-icon>account_circle</mat-icon>

        <span>Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

    <!--For Desktop Menu--->

    <a mat-button [matMenuTriggerFor]="dropdown">
      <!--- The links at the bottom will open when clicked at the dropdown screen-->
      Screens
    </a>

    <mat-menu #dropdown
      ><!--The Code--->
      <button mat-menu-item routerLink="/courses">Courses</button>

      <button mat-menu-item routerLink="/about">About</button>

      <button mat-menu-item routerLink="/login">Login</button>

      <button mat-menu-item routerLink="/register">Register</button>
    </mat-menu>

    <a mat-button>
      <mat-icon>person_add</mat-icon>
      Register
    </a>

    <a mat-button>
      <mat-icon>account_circle</mat-icon>
      Login
    </a>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
